# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

DATABASE_USER=root
DATABASE_PASSWORD=root # não colocar @ no password
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3309
DATABASE_NAME=vip_nuxt

DATABASE_URL="mysql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}"
#DATABASE_URL="mysql://root:@localhost:3306/vip_nuxt"
APP_SECRET_JWT="e65fc171d1fc5f7916c320a229e8a03cc049c7a7"

DOCKER_PORT_EXT=3010
DOCKER_PORT_MYSQL_EXT=3309